<div id="membre" style="text-align: left">
  <h1> Membres</h1>
    <ul style="list-style: none;">
    <!---membreID : <li><input class="form-control col-md-4" #memberID></li>-->
      Nom : <li><input class="form-control col-md-4" #name></li>
      Prenom : <li><input  class="form-control col-md-4" #firstName></li>
      Adresse courriel : <li><input class="form-control col-md-4" #email></li>
      Adresse Postale : <li><input  class="form-control col-md-4" #address></li>
      Mot de passe : <li><input type="password" class="form-control col-md-4" #passeWord></li>
  
      type de membre : <li><select class="form-control col-md-4" #types (click)="changeType(types.value)">
        <option value ="AbonnementMensuel">AbonnementMensuel</option>
        <option value ="PayementAVue">Payementue</option>
      </select></li>
  
      <ul style="list-style: none;" *ngIf="memberType == 'AbonnementMensuel'">
        prixAbonnement : <li><input type="number" class="form-control col-md-4" #subscribePrice></li>
        dateDebut : <li><input type="date" class="form-control col-md-4" #startDate></li>
        echeance : <li><input   type="date" class="form-control col-md-4" #deadline></li>
      </ul>
  
      <ul style="list-style: none;" *ngIf="memberType == 'PayementAVue'">
        film_payperview : <li><input type="number" class="form-control col-md-4" #filmPrice></li>
      </ul>

    <li><button type="button" class="btn btn-primary" (click)="insertMember(name.value,
                                                                            firstName.value,
                                                                            email.value,
                                                                            address.value, 
                                                                            passeWord.value,
                                                                            filmPrice.value,
                                                                            subscribePrice.value,
                                                                            startDate.value,
                                                                            deadline.value)"> Ajouter Membre</button></li>
    </ul>
   
  </div>
