<!--<div class="buttons-grid-container">
  <div>
    <h1 mat-dialog-title>Galerie de Film</h1>
  </div>
  <div>
    <app-tags-filter 
      [hashtags]="hashtags" 
      (notify)="onNotify($event)">
    </app-tags-filter>
  </div>  
</div>
<!-- this mat-progress-bar or the mat-spinner (on line 16) will be kept and the other deleted -->
<!--<mat-progress-bar  *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div mat-dialog-content>
  <mat-spinner  *ngIf="isLoading" diameter="300"></mat-spinner>
  <div class="cardsArea">
    <div class="galery-card" *ngFor="let svgObject of filteredSvgObjects">
      <mat-card class="example-card" (click)="onSelect(svgObject)" [style.background-color]="svgObject.backgroundColor">
        <mat-card-header>
          <mat-card-title>{{svgObject.name}}</mat-card-title>
          <mat-card-subtitle>{{svgObject.hashtag}}</mat-card-subtitle>
          <mat-checkbox color="primary" (checked)="onSelect(svgObject)" [checked]="svgObject.IsChecked">
          </mat-checkbox>
        </mat-card-header>
        <mat-card-content class="bg-svg" [ngStyle]="{'background-image': svgObject.url}">
        </mat-card-content>
        <button mat-raised-button (click)="openDrawing(svgObject.svg)">Ouvrir</button>
      </mat-card>
    </div>
  </div>
</div>

<div class="buttons-grid-container" id="bottom-buttons">
  <div>
    <button mat-raised-button (click)="closeModal()">Fermer</button>
  </div>
  <div>
    <button mat-raised-button (click)="deleteSvgObject()">
      Supprimer
    </button>
  </div>
</div>-->




