
<div class = "container" >
    <div *ngFor="let film of films; let i = index"  class="buttonContainer">

    
        <button  type = "button" class ="button" class="btn btn-primary" (click)= "showInfo(i)" >
            {{film.title}}
        </button>
        <button  type = "button" class ="button" class="btn btn-success" (click)= "watchFilm(i)">
            watch
        </button>
        <button  type = "button" class ="button" class="btn btn-info" >
            buy DVD
        </button>
        <div *ngIf="infoButtonValue == i+1">
            <p>
                FilmID: {{film.filmid}}
            </p>
            <p>
                Title: {{film.title}}
            </p>
            <p>
                Genre: {{film.genre}}
            </p>
            <p>
                Duration: {{film.duration}}
            </p>
            <p>
                Productiondate {{film.productiondate}}
            </p>
            <p>
                Price {{film.price}}
            </p>
        </div>
    </div>
</div>