<!--The content below is only a placeholder and can be replaced.-->



<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand title" href="/">INF3710-TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
     
        <a *ngIf="route == '/administrateur'" class="nav-item nav-link active" routerLink="/administrateur/membre">Membre</a>
        <a *ngIf="route == '/administrateur'" class="nav-item nav-link active" routerLink="/administrateur/film">Film</a>
        <a *ngIf="route == ''" class="nav-item nav-link active" routerLink="/administrateur">Administrateur</a>
        <a *ngIf="route == ''" class="nav-item nav-link active" routerLink="/login">Login</a>

        <a *ngIf="route.includes('/home/watchFilm')" class="nav-item nav-link active" routerLink="/home">home</a>
      </div>
    </div>
  </nav>

<div style="text-align:center">
<div *ngIf="route == ''">
  <button type="button" class="btn btn-danger" (click) ="createDB()">Create Database</button>
</div>

<router-outlet></router-outlet>


<div id="ht" style="text-align:center" *ngIf="route == '/administrateur/film'">
  <button type="button" class="btn btn-primary" (click)="getFilms()">accéder à la liste de film</button>
  <table id ="ht" align="center" border="1" width="350">
    <thead>
      <th> FILM</th>
      <th> DELETE FILM </th>
    </thead>
    <tbody>
      <tr *ngFor="let film of films">
        <td> {{film.name}}</td>
        <td> {{film.gender}} </td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>


