<!--The content below is only a placeholder and can be replaced.-->



<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand title" href="/">INF3710-TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
     
        <a *ngIf="route == '/administrateur'" class="nav-item nav-link active" routerLink="/administrateur/membre">Membre</a>
        <a *ngIf="route == '/administrateur'" class="nav-item nav-link active" routerLink="/administrateur/film">Film</a>
        <a *ngIf="route == ''" class="nav-item nav-link active" routerLink="/administrateur">Administrateur</a>
        <a *ngIf="route == ''" class="nav-item nav-link active" routerLink="/login">Login</a>

        <a *ngIf="route.includes('/home/watchFilm')" class="nav-item nav-link active" routerLink="/home">home</a>
      </div>
    </div>
  </nav>

<div style="text-align:center">
<div *ngIf="route == ''">
  <button type="button" class="btn btn-danger" (click) ="createDB()">Create Database</button>
</div>

<router-outlet></router-outlet>


