<div id="film" style="text-align: left">
  <h1> Films</h1>
    <ul style="list-style: none;">
      titre : <li><input type="text" class="form-control col-md-4" #title></li>
      genre : <li><input type="text" class="form-control col-md-4" #gender ></li>
      duree Totale : <li><input type="number" class="form-control col-md-4" #duration ></li>
      date de Production : <li><input type="date" class="form-control col-md-4" #productionDate ></li>
      prix : <li><input type="number" class="form-control col-md-4" #price ></li>
      <button type="button" class="btn btn-primary" (click)="insertFilm(title.value, 
                                                                        gender.value,
                                                                        duration.value,
                                                                        productionDate.value,
                                                                        price.value)" > Ajouter Film</button>
    </ul>
  </div>

  <div id="ht" style="text-align:center">
    <button type="button" class="btn btn-primary" (click)="openListFilm()">accéder à la liste de film</button>
  </div>

  <div class = "container" style="text-align:left" >
    <div *ngFor="let film of listFilm; let i = index"  class="buttonContainer">

    
        <button  type = "button" class ="button" class="btn btn-primary" (click)= "showInfo(i)" >
            {{film.title}}
        </button>
        <button  type = "button" class ="button" class="btn btn-success" (click)= "deleteFilm(film)">
            supprimer
        </button>
        <button  type = "button" class ="button" class="btn btn-info" (click)="editFilm(film)">Modifier</button>
        <div *ngIf="infoButtonValue == i+1">
            <p>
                FilmID: {{film.filmId}}
            </p>
            <p>
                Title: {{film.title}}
            </p>
            <p>
                Genre: {{film.gender}}
            </p>
            <p>
                Duration: {{film.duration}}
            </p>
            <p>
                Productiondate {{film.productionDate}}
            </p>
            <p>
                Price {{film.price}}
            </p>
        </div>
    </div>
</div>



